* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* styling af body */
.film-body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #2a3f52;
    color: white;
    width: 100%;
    padding: 0 10%;
}

.film {
    text-align: left;
    align-items: center;
}

/* styling af section 1 (filmplakat, overskrift, book billet, tider) */
.film-box1 {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.film-box1 img {
    width: 70%;
    margin-top: 10%;
}

.film-box1_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.film-box1_2 {
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.film-box1 a {
    background-color:  #982216;
    padding: 0.8rem 1.2rem;
    color: white;
    margin-bottom: 1rem;
    margin: 0.7rem;
}

.film-box1 a:hover {
    background-color: black;
    transition: 0.5s;
}


/* styling af section 2 (grå boks m tekniske filmoplysninger) */
.film-box2 {
    display: inline-block;
    width: 100%;
    align-items: center;
    text-align: left;
    background-color: #6a7986;
    margin-top: 10%;
}

.film-box2 button {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.film-box2 button:hover {
    color: #982216;
}

/* styling af section 3 (Filmbeskrivelse) */
.film-box3 {
    margin: 2rem 0;
}

.film-box3 p {
margin: 2rem 0;
}

#læsmeretekstf {
    display: none; /* Starter med at skjule mere tekst */
  }

  #læsmereknapf {
    display: none;
  } 

  #filmknap:hover {
    color: #982216;
  }

  #læsmereknapf:checked + label + #læsmeretekstf {
    display: block; /* Vis mere tekst, når man trykker på teksten/checkboxen */
  }

/* styling af section 4 (trailer) */
.film-box4 {
    margin: 2rem 0;
}

.film-box4 iframe {
    width: 560; 
    height: 315;
    width: 100%;
    height: 100%;
    border: 0;
}

/* styling af section 5 (anmeldelser) */
.film-box5 {
    margin-bottom: 10%;
}

.film-box5 img {
    height: 3rem;
    align-items: left;
    margin: 2rem 0;
}

#læsmereteksta {
    display: none; /* Starter med at skjule mere tekst */
  }

  #læsmereknapa {
    display: none;
  } 

  #filmknap:hover {
    color: #982216;
  }

  #læsmereknapa:checked + label + #læsmereteksta {
    display: block; /* Vis mere tekst, når man trykker på teksten/checkboxen */
  }

#anmeldelsesknap:hover {
    color: #982216;
}

.film-box5 h3 {
    margin: 3% 0;
}

.film-box5 button {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.film-box5 button:hover {
    color: #982216;
}

/* Breakpoint til tablet */ 
@media (min-width: 768px) { 
 film-box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }

} 
 
 
/* Breakpoint til laptop */ 
@media (min-width: 1024px) { 
 
} 
 