* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* styling af body + main */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #2a3f52;
    color: white;
}

main{
    width: 100%;
    font-size: smaller;
}



/*Styling af overskrift*/
.student-h1{
    text-align: center;
    margin-top: 8%;
    
}

/*Styling af tekst under overskrift*/
.beskrivelse{
    
    margin-right: 4%;
    
    justify-content: center;
    padding: 6%;
}

/*Styling af de sorte bokse med dag og dato*/
.boxes1{
    display: flex;
    margin-bottom: 4%;
    margin: 4%;
}
.dato-tidspunkt-student{
    background-color: black;
    height: auto;
    width: 100%;
    margin: 0.25%;
    justify-content: center;
}

.dato, .tid{
    text-align: center;
}

.dato{
    font-size: small;
}

.ugedag{
    font-size: x-small;
    text-align: center;
}



/*Styling af billederne - str. + position*/

.posters img{
    height: auto;
    width: 40%;
}

.posters-rækker{
    display: flex;
    flex-direction: row;  
    
}

.posters{
justify-content: center;
}

img{
    margin: 4%;
}

/*Styling af film-titler under billederne*/


.filmtitler{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -8%;
    
}

.titel{
background-color: black;
color: white;
width: 50%;
text-align: center;
margin: 4%;

}



/*Styling af boxe med dato og uge-dage under filmene (de røde og sorte)*/

/*Placering af tid-boksene*/
.tid {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tid1, .tid2 {
    width: 50%;
    margin: 0 2.5%;
}

/*Udseende*/

.tid a{
    background-color: #982216;
    padding: 0;
    color: white;  
}



.tid a:hover {
    transition: 0.7s;
    background-color: black;
}


/*Styling af dato/tids-bokse*/


.tid1 .sort{
    background-color: black;
}

.tid2 .sort{
    background-color: black;
}

.tid1 .sort, .tid2 .sort, .tid1 .rød, .tid2 .rød {
    padding: 0 10.5%;
}







































