* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* styling af body + main */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #2a3f52;
    color: white;

    
}

.studentbio{
    width: 100%;
    font-size: smaller;
}



/*Styling af overskrift*/
.student-h1{
    text-align: center;
    margin-top: 8%;
}

/*Styling af tekst under overskrift*/
.beskrivelse{
    
    margin-right: 4%;
    
    justify-content: center;
    padding: 6%;
}

/*Styling af de sorte bokse med dag og dato*/
.boxes1{
    display: flex;
    margin-bottom: 4%;
    margin: 4%;
}
.dato-tidspunkt-student{
    background-color: black;
    height: auto;
    width: 100%;
    margin: 0.25%;
    justify-content: center;
}

.dato, .tid{
    text-align: center;
}

.dato{
    font-size: small;
}

.ugedag{
    font-size: x-small;
    text-align: center;
}


/*Styling af alle elemnter ved filmposters*/

.alle-posters{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.film-posters {
width: 100px;
height: auto;


  
    align-items: center;
    justify-content: center;
  

    
}

.images{
    width: 40%;
    height: auto;
}

.titel{
    background-color: black;
    width: 40%;
    text-align: center;
    margin-bottom: 3%;
}

.tid1{
    background-color: #982216;
    width: 40%;
    display: flex;
    text-align: center;
    
}

.sort, .rød{
  width: 100%;
  color: white;
  
}

.tid1 a:hover{
 transition: 0.7s;
 background-color: black;
}

.sort{
    background-color: black;
}







/*Styling af billederne - str. + position*/




/*Styling af film-titler under billederne*/






/*Styling af boxe med dato og uge-dage under filmene (de røde og sorte)*/

/*Placering af tid-boksene*/



/*Styling af dato/tids-bokse*/



/*

@media only screen and (min-width:768px){

    .boxes1{
        display: flex;
        margin-bottom: 4%;
        margin: 4%;
        justify-content: space-between;
        margin-bottom: -1.5%;
       
    }
    .dato-tidspunkt-student{
       height: 3.5rem;
       width: 10%;
       
    }

    .dato{
        padding: 5%;
        margin-top: 7%;
    }


     .posters img{
    height: auto;
    width: 25%;
    }

    .beskrivelse{
        margin-bottom: -4%;
    }

    
}*/











































