* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* styling af body */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #2a3f52;
    color: white;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}


/*************************************************************************************************************************************/
/*************************************************************** NAVBAR **************************************************************/
/*************************************************************************************************************************************/

nav {
    background-color: black;
    height: 8.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    display: inline-block;
    z-index: 5;
}

/* LOGO */
#navlogo {
    height: 5rem;
    float: left;
    margin: 1.5rem 1.5rem;
}

/* SØGEFELT KOMMER FREM + STYLING */
.search {
    position: absolute;
    display: block;
    right: 2rem;
    line-height: 1rem;
    padding: 0.5rem 0;
    width: 15rem;
    border: none;
    top: 2.5rem;
    font-size: 1rem;
    background-color: #2a3f52;
    border-radius: 10px;
    color: white;
    z-index: 1;
}

.fa-magnifying-glass {
    font-size: 1.5rem;
    float: right;
    right: 2.5rem;
    top: 3rem;
    cursor: pointer;
    display: block;
    line-height: 1rem;
    position: relative;
    z-index: 3;
}



.fa-bars {
    display: none;
}


/* NAVBAR */
#check {
    display: none;
}

#menu {
    position: absolute;
    top: 7rem;
    width: 100%;
    padding: 0 0 0 6.5%;
    background-color: black;
}

.menupunkt {
    display: inline-block;
    width: 14.5%;
}

.menupunkt p, .menupunkt a {
    font-size: 1rem;
    color: white;
    padding: 0 0 0 5px;
}

.undermenu, .underundermenu {
    display: none;
}


.undermenupunkt p, .undermenupunkt a {
    display: block;
    font-size: 1rem;
    color: white;
    background-color: black;
    width: 10rem;
    padding: 5px;
}


.underundermenu {
    float: left;
    left: 10rem;
    top: 0;
}

.underundermenupunkt p, .underundermenupunkt a {
    display: block;
    font-size: 1rem;
    color: white;
    background-color: black;
    width: 8rem;
    padding: 5px;
}

/*************************************************************************************************************************************/
/********************************************************** FORSIDE/PROGRAM **********************************************************/
/*************************************************************************************************************************************/

.program {
    margin: 7rem 5% 0;
}
  
/* Banner */
.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
.trappe {
    width: 100%;
}
  
.tekstb {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
  
.banner h1 {
    font-weight: normal;
    font-size: 200%;
}
  
.banner .tekstb i {
    color: black;
    font-size: 200%;
}
  
/* Dato */
.datof {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 5% 0;
    gap: 2%;
}
  
.box-rod, .box-sort {
    display: block;
    width: 14%;
    background-color: #982216;
    padding: 0.6rem 0.1rem;
}

.box-sort {
    background-color: black;
}
  
.box-rod .p1, .box-sort .p1 {
    font-size: 0.7rem;
}
  .box-rod .p2, .box-sort .p2 {
    font-size: 0.5rem;
}
  
.box-sort:hover {
    background-color: #982216;
}
  
/* Program */
.programp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 0 4%;
}
  
.posterp {
    width: 100%;
    height: auto;
}
  
.linkbas {
    display: flex;
    justify-content: center;
}
  
.linkbas:hover {
    opacity: 50%;
}
  
.tider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
  
.tider div, .tider a {
    text-align: center;
    background-color: #982216;
    color: white;
    font-size: 1rem;
    width: 48%;
    padding: 2%;
    margin: 3% 0;
}
  
.tider div:hover, .tider a:hover {
    background-color: black;
}
  
.prop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 48%;
    margin: 0 0 5%;
}
  
.prop p, .titleb {
    font-size: 0.8rem;
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    margin: 5% 0 5% 0;
    color: white;
}
  
.titleb:hover {
    background-color: #982216;
 }
  
.prop .mobilp {
    display: block;
}
  
.prop .tabletp {
    display: none;
}

/*************************************************************************************************************************************/
/************************************************************* FILM *************************************************************/
/*************************************************************************************************************************************/

.film {
    text-align: left;
    margin: 6rem 10% 1rem;
    width: 80%;
}

/* styling af section 1 (filmplakat, overskrift, book billet, tider) */
.film-box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin: 0 15%;
}

.film-box1 img {
    width: 100%;
    margin-top: 1rem;
}

.film-box1 h1 {
    font-size: 1.5rem;
    font-weight: 600;
}
.film-box1_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.film-box1 a {
    background-color:  #982216;
    padding: 0.3rem 1.2rem;
    color: white;
    margin: 0.3rem;
}

.film-box1 a:hover {
    background-color: black;
    transition: 0.5s;
}


/* styling af section 2 (grå boks m tekniske filmoplysninger) */
.film-box2 {
    display: inline-block;
    width: 100%;
    align-items: center;
    text-align: left;
    background-color: #6a7986;
    padding: 5px;
    margin-top: 1rem;
}

.film-box-laesmere2 p {
    margin: 2px 0;
}

/* styling af section 3 (Filmbeskrivelse) */
.film-box3 {
    margin: 1rem 0;
}

.film-box3 h2, .film-box4 h2, .film-box5 h2 {
    font-size: 1rem;
    font-weight: 600;
}

.film-box3 p {
    font-size: 0.8rem;
    margin: 1rem 0;
}

/* styling af section 4 (trailer) */
.film-box4 {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.film-box4 iframe {
    width: 100%; 
    height: 100%;
    border: 0;
    margin: 0;
}


/* styling af section 5 (anmeldelser) */
.film-box5 {
    margin: 1rem 0;
}

.film-box5 img {
    height: 1.3rem;
    margin: 1rem 0 0.5rem;
}

.film-box5 h3 {
    margin: 3% 0;
}

/* læs mere knap + læs mindre knapper */
.film-box-laesmere2, .film-box-laesmere3, .film-box-laesmere5 {
    display: none; /* Starter med at skjule mere tekst */
}

#film-laesmere2, #film-laesmere3, #film-laesmere5 {
    display: none;
}

#film-laesmere2:checked ~ .film-box-laesmere2, #film-laesmere3:checked ~ .film-box-laesmere3, #film-laesmere5:checked ~ .film-box-laesmere5 {
    display: block; /* Vis mere tekst, når man trykker på teksten/checkboxen */
}

#film-laesmere2:checked ~ .film-laesmere2-knap, #film-laesmere3:checked ~ .film-laesmere3-knap, #film-laesmere5:checked ~ .film-laesmere5-knap {
    display: none;
}

.anmeldelse-link {
    display: none;
}

.knap {
    display: block;
    padding: 10px 0 0;
    font-size: 1rem;
}

.knap:hover {
    color: #982216;
}

/*************************************************************************************************************************************/
/************************************************************ STUDENTBIO *************************************************************/
/*************************************************************************************************************************************/

/* Beskrivelse */
.studentbio-h1{
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    text-transform: uppercase;
}

.beskrivelse {
    margin: 10px 5% 5px;
    font-size: 0.9rem;
}
  
  .beskrivelse2{
    margin: 10px 0 5px;
}

/* Program */
.tider .sort2{
    background-color: black;
}

/*************************************************************************************************************************************/
/************************************************************* KLUBBER ***************************************************************/
/*************************************************************************************************************************************/

.klubber {
    text-align: left;
    margin: 6rem  10% 1.5rem;
    width: 80%;
}

/* Styling af overskrift */
.klubber-h1 {
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    text-transform: uppercase;
}

.klubber p {
    margin: 10px 0 5px;
    font-size: 0.9rem;
}

/* Styling af indhold*/
.klubber .klubber-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

/* Styling af underoverskrifter */
.klubber .klubber-box h2 {
    font-size: 1.5rem;
    margin: 5px 0;
}

/* Styling af tekst */
.klubber .klubber-box p {
    margin: 5px 0;
    font-size: 0.9rem;
}

/* Styling af billeder */
.klubber .klubber-box img {
    width: 100%;
    align-items: center; 
    margin: 25px 0 10px;
}

.klubber-img-mobil {
    display: block;
}
.klubber-img-tablet {
    display: none;
}


/* læs mere knap + læs mindre knapper */
.laesmere-tekst1, .laesmere-tekst2, .laesmere-tekst3  {
    display: none;
}

#klubber-laesmere1, #klubber-laesmere2, #klubber-laesmere3  {
    display: none;
}

#klubber-laesmere1:checked ~ .laesmere-tekst1, #klubber-laesmere2:checked ~ .laesmere-tekst2, #klubber-laesmere3:checked ~ .laesmere-tekst3 {
    display: block;
}

#klubber-laesmere1:checked ~ .laesmere1, #klubber-laesmere2:checked ~ .laesmere2, #klubber-laesmere3:checked ~ .laesmere3 {
    display: none;
}

/*************************************************************************************************************************************/
/**************************************************************** ERROR **************************************************************/
/*************************************************************************************************************************************/

.hov {
    margin: 10rem 10% 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6a7986;
    width: 80%;
    height: 60vh;
}

/* Error text */
.text-title {
    font-size: 4rem;
    display: flex;
    align-items: center;
}

.text-sub {
    font-size: 1rem;
}

.text-error {
    font-size: 0.8rem;
    padding: 0 1.3rem;
}

.sider-error {
    color: white;
}
    
.sider-error:hover {
    color: #982216;
}

/*************************************************************************************************************************************/
/*************************************************************** FOOTER **************************************************************/
/*************************************************************************************************************************************/


.footer {
    padding: 10px 10px 0;
    background-color: black;
    width: 100%;
    bottom: 0;
    font-size: 0.57rem;
    color: white;
    position: relative;
    height: 8rem;
}

.topf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: inherit;
}

.aabningstiderf {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    color: inherit;
    width: 33%;
}

.aabningstiderf li {
    margin: 3px 0;
}


.logof {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: inherit;
    font-size: inherit;
    width: 33%;
    align-items: center;
}

.logof a img {
    color: inherit;
    height: 2rem;
    padding-bottom: 3px ;
}

.socialf a {
    color: white;
    font-size: 1.5rem;
}

.linksf {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: inherit;
    text-decoration: none;
    list-style: none;
    width: 33%;
}

.linksf, .titelf {
    font-size: 0.9rem;

}

.linksf li {
    margin: 3px 0;
}

.linksf li a {
    color: white;
    margin: 3px 0;
}

.bundf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.7rem;
    list-style: none;
    padding: 7px 0;
    color: inherit;
}

.bundf li {
    width: 33%;
}

#bundfli2 {
    text-align: center;
}

#bundfli3 {
    text-align: right;
}

/*************************************************************************************************************************************/
/*************************************************************** @MEDIA **************************************************************/
/*************************************************************************************************************************************/

/********************************************************** MEDIA TIL NAVBAR *********************************************************/
/* Breakpoint til laptop */
@media (min-width:1024px) {
    .menupunkt:hover .undermenu, .undermenupunkt:hover .underundermenu {
        display: block;
        position: absolute;
    }
}

@media (max-width: 1023px) {
    nav {
        height: 5rem;
    }

    /* IKONER OG LOGO */
    #navlogo {
        height: 3rem;
        float: left;
        margin: 1rem;
    }

    .fa-bars, .fa-magnifying-glass  {
        display: block;
        float: right;
        font-size: 2.5rem;
        right: 0;
        margin: 0 0.5rem;
        line-height: 5rem;
        top: 0;
    }

    .icon {
        font-size: 2rem;
        float: right;
        margin: 0 0.5rem 0 0;
        cursor: pointer;
        display: block;
        line-height: 5rem;
    }
    
    .search {
        display: none;
    }

    #menu {
        position: fixed;
        width: 100%;
        height: 100%;
        background: black;
        top: 5rem;
        text-align: left;
        left: 100%;
        transition: all .5s;
        margin: 0;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .undermenu, .underundermenu {
        display: block;
    }
    .menupunkt {
        display: block;
        width: 30%;
    }
    
    .menupunkt a, .menupunkt p {
        display: block;
        font-size: 1.45rem;
    }

    .undermenu {
        float: left;
        left: 10rem;
        top: 0;
        display: block;
    }
    
    .undermenupunkt p, .undermenupunkt a {
        display: block;
        font-size: 1.2rem;
        color: white;
        background-color: black;
        padding: 1px 0 1px 1rem;
        width: 100%;
    }
    
    .underundermenu {
        float: left;
        left: 20rem;
        top: 0;
    }
    
    .underundermenupunkt p, .underundermenupunkt a {
        display: block;
        font-size: 1rem;
        color: white;
        background-color: black;
        width: 15rem;
        padding: 1px 0 1px 2rem;
    }

    /* BURGERMENU KOMMER FREM VED KLIK */
    #check:checked ~ #menu {
        left: 0;
    }

    .menupunkt4 {
        order: 1;
    }

    .menupunkt6 {
        order: 2;
    }
}

/* Breakpoint til tablet */
@media (max-width: 767px) {
    nav {
        height: 5rem;
    }
    
    #menu {
        gap: 1rem;
    }

    .menupunkt a, .menupunkt p {
        font-size: 1rem;
        width: 20rem;
    }

    .undermenupunkt p, .undermenupunkt a {
        font-size: 0.75rem;
    }
    
    .underundermenupunkt p, .underundermenupunkt a {
        font-size: 0.65rem;
    }
}

/***************************************************** MEDIA TIL FORSIDE/PROGRAM *****************************************************/

/* Breakpoint til tablet */ 
@media (min-width: 768px) {
    /* Banner */
    .sb {
        scale: 2;
    }
    
    .banner .tekstb i {
        scale: 2;
    }
    
    /* Datoer */
    .datof {
        height: auto;
        width: auto;
    }

    .box-rod, .box-sort {
        padding: 0.8rem 0.2rem;
    }
    
    .box-rod .p1, .box-sort .p1 {
        font-size: 1.4rem;

    }
    
    .box-rod .p2, .box-sort .p2 {
        font-size: 1.1rem;
    }
    
    /* Program */
    .prop {
        width: 30.6%;
    }
    .prop .mobilp {
        display: none;
    }
      
    .prop .tabletp {
        display: block;
    }
}

/* Breakpoint til laptop */ 
@media (min-width: 1024px) {
    .program {
      margin: 11rem 10% 0;
    }
  
  /* Datoer */
    .datof {
    height: auto;
    width: 100%;
    gap: 4%;
    }

    .box-rod, .box-sort {
        padding: 1rem 0.3rem;
    }
  
    .box-rod .p1, .box-sort .p1 {
        font-size: 1.6rem;
    }
    
    .box-rod .p2, .box-sort .p2 {
        font-size: 1.2rem;
    }
  
  /* Program */

  
    .prop {
    width: 22%;
    }

    .prop p, .titleb {
        font-size: 0.9rem;
    }
  
    .tider div, .tider a {
        font-size: 1.25rem;
    }
}


/********************************************************** MEDIA TIL FILM ***********************************************************/

/* Breakpoint til tablet */ 
@media (min-width: 768px) { 
    
    .film {
        margin: 8rem 12% 1.5rem;
        width: 76%;
    }
    
    /* styling af section 1 (filmplakat, overskrift, book billet, tider) */
    .film-box1 {
        display: flex;
        flex-direction: row;
        margin: 0;
        width: 100%;
        align-items: flex-start;
    }
    .film-intro {
        width: 45%;
    }

    .film-box1 .img {
        width: 55%;
        margin: 0;
    }

    .film-box1 .img img {
        margin: 0;
    }
    
    .film-box1 h1 {
        font-size: 2rem;
        font-weight: 600;
        text-align: left;
        margin: 0 10px 10px;
    }

    .film-box1 p {
        font-size: 1.4rem;
        text-align: left;
        margin: 0 10px;
    }

    .film-box1_1 {
        justify-content: flex-start;
        margin: 0 10px;
    }

    .film-box1 a {
        margin: 0.5rem 1rem 0.5rem 0;
        font-size: 1.4rem;
    }
    

    /* styling af section 2 (grå boks m tekniske filmoplysninger) */
    .film-box2 {
        padding: 30px;
    }

    .film-box-laesmere2 p {
        margin: 2px 0;
    }
    
    /* styling af section 3 (Filmbeskrivelse) */
    
    .film-box3 h2, .film-box4 h2, .film-box5 h2 {
        font-size: 1.2rem;
        font-weight: 600;
    }
    
    .film-box3 p {
        font-size: 1rem;
        margin: 1rem 0;
    }
    


    /* styling af section 4 (trailer) */
    
    .film-box4 iframe {
        width: 100%; 
        height: 50vh;
    }
    
    
    /* styling af section 5 (anmeldelser) */
    .film-box5 img {
        height: 3rem;
    }


    .film-box-laesmere3, .film-box-laesmere5 {
        display: block;
    }
    
    .film-box3 label, .film-box-laesmere3 .film-laesmere5-knap, .film-box5 label, .film-box-laesmere5 .film-laesmere5-knap {
        display: none;
    }
    
    .anmeldelse-link {
        display: block;
        font-size: 1rem;
        color: white;
        margin: 5px 0;
    }
    
    .knap {
        display: block;
        padding: 20px 0 0;
        font-size: 1rem;
    }
} 
    
    
    /* Breakpoint til laptop */ 
    @media (min-width: 1024px) {
        .film {
            margin: 11rem 15% 1.5rem;
            width: 70%;
        }
        
        /* styling af section 1 (filmplakat, overskrift, book billet, tider) */
        .film-box1 {
            display: flex;
            flex-direction: row;
            margin: 0;
            width: 100%;
            align-items: flex-start;
        }
        .film-intro {
            width: 35%;
        }
    
        .film-box1 .img {
            width: 65%;
        }
    
        
        .film-box1 h1 {
            font-size: 2.5rem;
            margin: 0 20px 10px;
        }
    
        .film-box1 p {
            font-size: 1.7rem;
            margin: 0 20px;
        }
    
        .film-box1_1 {
            margin: 0 20px;
        }
    
        .film-box1 a {
            margin: 0.75rem 2rem 0.75rem 0;
            font-size: 1.55rem;
        }
        
    
        /* styling af section 2 (grå boks m tekniske filmoplysninger) */
        .film-box2 {
            font-size: 1.5rem;
        }
    
        
        /* styling af section 3 (Filmbeskrivelse) */
        
        .film-box3 h2, .film-box4 h2, .film-box5 h2 {
            font-size: 1.7rem;
        }
        
        .film-box3 p {
            font-size: 1rem;
            margin: 1rem 0;
        }
        
    
    
        /* styling af section 4 (trailer) */
        
        .film-box4 iframe {
            height: 65vh;
        }
    
        
        .knap {
            font-size: 1.5rem;
        }
    } 

/********************************************************** MEDIA TIL KLUBBER ********************************************************/

/* Breakpoint til tablet */
@media (min-width: 768px) {

    .klubber {
        margin: 6rem 12% 1.5rem;
        width: 76%;
    }

    .klubber p {
        margin: 10px 0 5px;
        font-size: 1.2rem;
    }

    /* Styling af indhold*/
    .klubber .klubber-box {
        margin: 3rem 0;
    }

    .klubber-tekst {
        display: flex;
        width: 60%;
        padding: 0 10px 5px;
        flex-direction: column;
    }

    /* Styling af underoverskrifter */
    .klubber .klubber-box h2 {
        font-size: 2.3rem;
        margin: 0;
    }

    /* Styling af tekst */
    .klubber .klubber-box p {
        margin: 10px 0;
        font-size: 1rem;
    }

    /* Styling af billeder */
    .klubber .klubber-box .img {
        width: 40%;
        align-items: center; 
        margin: 5px 0;
    }

    .klubber .klubber-box .img img {
        margin: 0;
    }

    .klubber-ekstra {
        display: none;
    }

    .klubber-img-mobil {
        display: none;
    }

    .klubber-img-tablet {
        display: block;
    }

}

/* Breakpoint til laptop */
@media (min-width: 1024px) {
    .klubber {
        margin: 10rem 12% 1.5rem;
        width: 76%;
    }

    .klubber p {
        font-size: 1rem;
    }

    .klubber-tekst {
        width: 65%;
    }

    /* Styling af billeder */
    .klubber .klubber-box .img {
        width: 35%;
    }

    /* Styling af underoverskrifter */
    .klubber .klubber-box h2 {
        font-size: 1.9rem;
    }

    /* Styling af tekst */
    .klubber .klubber-box p {
        font-size: 1rem;
    }

    /* læs mere knap + læs mindre knapper */
    .laesmere-tekst1, .laesmere-tekst2, .laesmere-tekst3  {
        display: block;
    }

    .laesmindre1, .laesmere1, .laesmindre2, .laesmere2, .laesmindre3, .laesmere3 {
        display: none;
    }
}


/*********************************************************** MEDIA TIL ERROR *********************************************************/
/* Breakpoint til tablet */
@media (min-width: 768px) {

    .hov {
        margin: 10rem 15% 4rem;
        width: 70%;
        height: 64vh;
    }

    #errorbr {
        display: none;
    }
}

/* Breakpoint til laptop */
@media (min-width: 1024px) {
    .hov {
        margin: 14rem 5% 6rem;
        width: 90%;
        height: 46vh;
    }

    #errorbr {
        display: none;
    }
}
/********************************************************** MEDIA TIL FOOTER *********************************************************/

@media (min-width: 385px){
    .brf1{
        display: none;
    }
}

@media (min-width: 500px){
    .brf2{
        display: none;
    }
}

/* Breakpoint til tablet */
@media (min-width: 768px){
    .footer {
        font-size: 0.7rem;
        height: 8rem;
    }

    .logof a img {
        height: 2.5rem;
    }
    
    .socialf a {
        font-size: 1.75rem;
    }

    .linksf, .titelf {
        font-size: 1.25rem;
    }

    .bundf {
        font-size: 0.75rem;
    }
}

/* Breakpoint til laptop */
@media (min-width: 1024px) {
    .footer {
        font-size: 0.8rem;
        height: 9.5rem;
    }

    .logof a img {
        height: 3rem;
    }
    
    .socialf a {
        font-size: 2rem;
    }

    .linksf, .titelf {
        font-size: 1.5rem;
    }

    .bundf {
        font-size: 1rem;
    }
}