* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* styling af body */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #2a3f52;
    color: white;
    
}


/*************************************************************************************************************************************/
/*************************************************************** NAVBAR **************************************************************/
/*************************************************************************************************************************************/



/*************************************************************************************************************************************/
/********************************************************** FORSIDE/PROGRAM **********************************************************/
/*************************************************************************************************************************************/



/*************************************************************************************************************************************/
/************************************************************* FILM *************************************************************/
/*************************************************************************************************************************************/



/*************************************************************************************************************************************/
/************************************************************ STUDENTBIO *************************************************************/
/*************************************************************************************************************************************/



/*************************************************************************************************************************************/
/************************************************************* KLUBBER ***************************************************************/
/*************************************************************************************************************************************/

/* Styling af klubber */
.klubber {
    text-align: justify;
    margin:5%  20%;
    
}

/* Styling af overskrift */
.klubber-h1 {
    font-size: 5rem;
}





/*************************************************************************************************************************************/
/*************************************************************** FOOTER **************************************************************/
/*************************************************************************************************************************************/



/*************************************************************************************************************************************/
/*************************************************************** @MEDIA **************************************************************/
/*************************************************************************************************************************************/