
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* styling af body */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #2a3f52;
    color: white;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}


/*************************************************************************************************************************************/
/*************************************************************** NAVBAR **************************************************************/
/*************************************************************************************************************************************/
nav {
    background-color: black;
    height: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    display: inline-block;
}

/* LOGO */
#navlogo {
    height: 2rem;
    float: left;
    margin: 1.5rem 1.5rem;
}

/* IKONER */
.icon {
    font-size: 2rem;
    float: right;
    margin: 0 0.25rem;
    cursor: pointer;
    display: block;
    line-height: 5rem;
}

#check {
    display: none;
}

#check:checked ~ .dropdown-menu {
    left: 0;
}

.fa-bars {
    margin-right: 15px;
}

.dropdown {
    width: 10rem;
}

.dropdown-menu {
    margin-top: 5rem;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 100%;
    background-color: gray;
    transition: 1s;
    display: flex;
    flex-direction: column;
}

.dropdown-content {
    display: none;
    font-size: 1rem;
    float: left;
    overflow: hidden;
    width: 30rem;
}

.submenu-content {
    display: none;
    font-size: 0.5rem;
}

.dropdown-content, .submenu-content {
    display: none;
    position: absolute;
    background-color: none;
}


.button, .dropdown-content a, .submenu-content a {
    color: white;
    display: block;
    text-align: left;
    width: 12rem;
    height: 2rem;
    font-size: 1.1rem;
    line-height: 2rem;
    padding-left: 5px;
    background-color: black;
}

.dropbutton, .subbutton, .dropdown-content a {
    float: left;
    left: 12rem;
}

.dropdown-content a {
    float: left;
    left: 22rem;
}

.dropdown-content a, .submenu a, .submenu-content a {
    font-size: 0.8rem;
    width: 10rem;
}

.dropdown-content a, .submenu a {
    margin-left: 12rem;
}

.submenu-content a {
    height: 2rem;
    line-height: 2rem;
    margin-left: 22rem;
    float: left;
    left: 22rem;
}

.submenu-content .specieltpunkt, .dropdown-content .specieltpunkt {
    line-height: 1rem;
}

.dropdown:hover .dropdown-content{
    display: block;
  }

.submenu:hover .submenu-content {
    display: block;
}

.button:hover, .dropdown a:hover, .submenu a:hover {
    background-color: #2a3f52;
}

.search {
    display: none;
}

/*************************************************************************************************************************************/
/********************************************************** FORSIDE/PROGRAM **********************************************************/
/*************************************************************************************************************************************/

/*************************************************************************************************************************************/
/************************************************************* FILM *************************************************************/
/*************************************************************************************************************************************/



/*************************************************************************************************************************************/
/************************************************************ STUDENTBIO *************************************************************/
/*************************************************************************************************************************************/

.student-h1{
    text-align: center;

}

/*************************************************************************************************************************************/
/************************************************************* KLUBBER ***************************************************************/
/*************************************************************************************************************************************/

.klubber {
    text-align: left;
    margin: 6rem  10% 1.5rem;
    width: 80%;
}

/* Styling af overskrift */
.klubber-h1 {
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
    text-transform: uppercase;
}

.klubber p {
    margin: 10px 0 5px;
    font-size: 0.9rem;
}

/* Styling af indhold*/
.klubber article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

/* Styling af underoverskrifter */
.klubber article h2 {
    font-size: 1.5rem;
    margin: 5px 0;
}

/* Styling af tekst */
.klubber article p {
    margin: 5px 0;
    font-size: 0.9rem;
}

/* Styling af billeder */
.klubber article img {
    width: 100%;
    align-items: center; 
    margin: 25px 0 10px;
}

/* læs mere knap + læs mindre knapper */
.laesmere-tekst1, .laesmere-tekst2, .laesmere-tekst3  {
    display: none;
}

#klubber-laesmere1, #klubber-laesmere2, #klubber-laesmere3  {
    display: none;
}

#klubber-laesmere1:checked ~ .laesmere-tekst1, #klubber-laesmere2:checked ~ .laesmere-tekst2, #klubber-laesmere3:checked ~ .laesmere-tekst3 {
    display: block;
}

#klubber-laesmere1:checked ~ .laesmere1, #klubber-laesmere2:checked ~ .laesmere2, #klubber-laesmere3:checked ~ .laesmere3 {
    display: none;
}


/*************************************************************************************************************************************/
/*************************************************************** FOOTER **************************************************************/
/*************************************************************************************************************************************/


.footer {
    padding: 10px 10px 0;
    background-color: black;
    width: 100%;
    bottom: 0;
    font-size: 0.57rem;
    color: white;
    position: relative;
}

.topf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: inherit;
}

.aabningstiderf {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    color: inherit;
    width: 33%;
}

.aabningstiderf li {
    margin: 3px 0;
}


.logof {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: inherit;
    font-size: inherit;
    width: 33%;
    align-items: center;
}

.logof a img {
    color: inherit;
    height: 3rem;
    padding-bottom: 3px ;
}

.socialf a {
    color: white;
    font-size: 1.5rem;
}

.linksf {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: inherit;
    text-decoration: none;
    list-style: none;
    width: 33%;
}

.linksf, .titelf {
    font-size: 0.9rem;
}

.linksf li {
    margin: 3px 0;
}

.linksf li a {
    color: white;
    margin: 3px 0;
}

.bundf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.7rem;
    list-style: none;
    padding: 7px 0;
    color: inherit;
}

.bundf li {
    width: 33%;
}

#bundfli2 {
    text-align: center;
}

#bundfli3 {
    text-align: right;
}

/*************************************************************************************************************************************/
/*************************************************************** @MEDIA **************************************************************/
/*************************************************************************************************************************************/

/********************************************************** MEDIA TIL KLUBBER ********************************************************/

/* Breakpoint til tablet */
@media (min-width: 768px) {

    .klubber {
        margin: 6rem 12% 1.5rem;
        width: 76%;
    }

    .klubber p {
        margin: 10px 0 5px;
        font-size: 1.4rem;
    }

    /* Styling af indhold*/
    .klubber article {
        margin: 3rem 0;
    }

    .klubber-tekst {
        display: flex;
        width: 60%;
        padding: 0 10px 5px;
        flex-direction: column;
    }

    /* Styling af underoverskrifter */
    .klubber article h2 {
        font-size: 2.3rem;
        margin: 0;
    }

    /* Styling af tekst */
    .klubber article p {
        margin: 10px 0;
        font-size: 1.4rem;
    }

    /* Styling af billeder */
    .klubber article .img {
        width: 40%;
        align-items: center; 
        margin: 5px 0;
    }

    .klubber article .img img {
        margin: 0;
    }

    .klubber-ekstra {
        display: none;
    }

}

/* Breakpoint til laptop */
@media (min-width: 1024px) {

    .klubber p {
        font-size: 1rem;
    }

    .klubber-tekst {
        width: 65%;
    }

    /* Styling af billeder */
    .klubber article .img {
        width: 35%;
    }

    /* Styling af underoverskrifter */
    .klubber article h2 {
        font-size: 1.9rem;
    }

    /* Styling af tekst */
    .klubber article p {
        font-size: 1rem;
    }

    /* læs mere knap + læs mindre knapper */
    .laesmere-tekst1, .laesmere-tekst2, .laesmere-tekst3  {
        display: block;
    }

    .laesmindre1, .laesmere1, .laesmindre2, .laesmere2, .laesmindre3, .laesmere3 {
        display: none;
    }
}