* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* styling af body */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #2a3f52;
    color: white;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}


/*************************************************************************************************************************************/
/*************************************************************** NAVBAR **************************************************************/
/*************************************************************************************************************************************/

nav {
    background-color: black;
    height: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    display: inline-block;
}

/* LOGO */
#navlogo {
    height: 2rem;
    float: left;
    margin: 1.5rem 1.5rem;
}

/* IKONER */
.icon {
    font-size: 2rem;
    float: right;
    margin: 0 0.25rem;
    cursor: pointer;
    display: block;
    line-height: 5rem;
}

.fa-bars {
    margin-right: 15px;
}

#check {
    display: none;
}

/* BURGERMENU KOMMER FREM VED KLIK */
#check:checked ~ .dropdown-menu {
    left: 0;
}

/* DROPDOWNMENU START */
.dropdown {
    width: 10rem;
}

.dropdown-menu {
    margin-top: 5rem;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 100%;
    background-color: black;
    transition: 1s;
    display: flex;
    flex-direction: column;
}

.dropdown-content {
    display: none;
    font-size: 1rem;
    float: left;
    overflow: hidden;
    width: 30rem;
}

.submenu-content {
    display: none;
    font-size: 0.5rem;
}

.dropdown-content, .submenu-content {
    display: none;
    position: absolute;
    background-color: none;
    z-index: 1;
}


.button, .dropdown-content a, .submenu-content a {
    color: white;
    display: block;
    text-align: left;
    width: 12rem;
    height: 2rem;
    font-size: 1.1rem;
    line-height: 2rem;
    padding-left: 5px;
    background-color: black;
}

.dropbutton, .subbutton, .dropdown-content a {
    float: left;
    left: 12rem;
}

.dropbutton {
    z-index: 10;
}

.dropdown-content a {
    float: left;
    left: 22rem;
    z-index: 1;
}

.dropdown-content a, .submenu a, .submenu-content a {
    font-size: 0.8rem;
    width: 10rem;
    z-index: 1;
}


.submenu-content a {
    height: 2rem;
    line-height: 2rem;
    left: 22rem;
    display: flex;
    align-items: center;
}

.submenu-content .specieltpunkt, .dropdown-content .specieltpunkt {
    line-height: 1rem;
}

.dropdown:hover .dropdown-content{
    display: block;
  }

.submenu:hover .submenu-content {
    display: block;
}

.menupunkt {
    display: flex;
    flex-direction: row;
}

.menupunkt a {
    color: white;
    font-size: 1rem;
}

/* DROPDOWNMENU SLUT */

.search {
    display: none;
}

/*************************************************************************************************************************************/
/********************************************************** FORSIDE/PROGRAM **********************************************************/
/*************************************************************************************************************************************/

/*************************************************************************************************************************************/
/************************************************************* FILM *************************************************************/
/*************************************************************************************************************************************/

.film {
    text-align: left;
    margin: 6rem 10% 1rem;
    width: 80%;
}

/* styling af section 1 (filmplakat, overskrift, book billet, tider) */
.film-box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin: 0 15%;
}

.film-box1 img {
    width: 100%;
    margin-top: 1rem;
}

.film-box1 h1 {
    font-size: 1.5rem;
    font-weight: 600;
}
.film-box1_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.film-box1 a {
    background-color:  #982216;
    padding: 0.3rem 1.2rem;
    color: white;
    margin: 0.3rem;
}

.film-box1 a:hover {
    background-color: black;
    transition: 0.5s;
}


/* styling af section 2 (grå boks m tekniske filmoplysninger) */
.film-box2 {
    display: inline-block;
    width: 100%;
    align-items: center;
    text-align: left;
    background-color: #6a7986;
    padding: 5px;
    margin-top: 1rem;
}

.film-box-laesmere2 p {
    margin: 2px 0;
}



/* styling af section 3 (Filmbeskrivelse) */
.film-box3 {
    margin: 1rem 0;
}

.film-box3 h2, .film-box4 h2, .film-box5 h2 {
    font-size: 1rem;
    font-weight: 600;
}

.film-box3 p {
    font-size: 0.8rem;
    margin: 1rem 0;
}

/* styling af section 4 (trailer) */
.film-box4 {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.film-box4 iframe {
    width: 100%; 
    height: 100%;
    border: 0;
    margin: 0;
}


/* styling af section 5 (anmeldelser) */
.film-box5 {
    margin: 1rem 0;
}

.film-box5 img {
    height: 1.3rem;
    align-items: left;
    margin: 1rem 0 0.5rem;
}

.film-box5 h3 {
    margin: 3% 0;
}




/* læs mere knap + læs mindre knapper */
.film-box-laesmere2, .film-box-laesmere3, .film-box-laesmere5 {
    display: none; /* Starter med at skjule mere tekst */
}

#film-laesmere2, #film-laesmere3, #film-laesmere5 {
    display: none;
}

#film-laesmere2:checked ~ .film-box-laesmere2, #film-laesmere3:checked ~ .film-box-laesmere3, #film-laesmere5:checked ~ .film-box-laesmere5 {
    display: block; /* Vis mere tekst, når man trykker på teksten/checkboxen */
}

#film-laesmere2:checked ~ .film-laesmere2-knap, #film-laesmere3:checked ~ .film-laesmere3-knap, #film-laesmere5:checked ~ .film-laesmere5-knap {
    display: none;
}

.anmeldelse-link {
    display: none;
}

.knap {
    display: block;
    padding: 10px 0 0;
    font-size: 0.8rem;
}

.knap:hover {
    color: #982216;
}

/*************************************************************************************************************************************/
/************************************************************ STUDENTBIO *************************************************************/
/*************************************************************************************************************************************/

.student-h1{
    text-align: center;

}

/*************************************************************************************************************************************/
/************************************************************* KLUBBER ***************************************************************/
/*************************************************************************************************************************************/

.klubber {
    text-align: left;
    margin: 6rem  10% 1.5rem;
    width: 80%;
}

/* Styling af overskrift */
.klubber-h1 {
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
    text-transform: uppercase;
}

.klubber p {
    margin: 10px 0 5px;
    font-size: 0.9rem;
}

/* Styling af indhold*/
.klubber article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

/* Styling af underoverskrifter */
.klubber article h2 {
    font-size: 1.5rem;
    margin: 5px 0;
}

/* Styling af tekst */
.klubber article p {
    margin: 5px 0;
    font-size: 0.9rem;
}

/* Styling af billeder */
.klubber article img {
    width: 100%;
    align-items: center; 
    margin: 25px 0 10px;
}

/* læs mere knap + læs mindre knapper */
.laesmere-tekst1, .laesmere-tekst2, .laesmere-tekst3  {
    display: none;
}

#klubber-laesmere1, #klubber-laesmere2, #klubber-laesmere3  {
    display: none;
}

#klubber-laesmere1:checked ~ .laesmere-tekst1, #klubber-laesmere2:checked ~ .laesmere-tekst2, #klubber-laesmere3:checked ~ .laesmere-tekst3 {
    display: block;
}

#klubber-laesmere1:checked ~ .laesmere1, #klubber-laesmere2:checked ~ .laesmere2, #klubber-laesmere3:checked ~ .laesmere3 {
    display: none;
}

/*************************************************************************************************************************************/
/**************************************************************** ERROR **************************************************************/
/*************************************************************************************************************************************/

.hov {
    margin: 6rem 5% 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6a7986;
    width: 90%;
    height: 66vh;
}

/* .hov {
    margin: 21rem 5% 20rem;
    width: 90%;
    height: 15rem;
} */

/* Error text */
.text-title {
    font-size: 4rem;
    display: flex;
    align-items: center;
}

.text-sub {
    font-size: 1rem;
}

.text-error {
    font-size: 0.8rem;
    padding: 0 1.3rem;
}

.sider-error {
    color: white;
}
    
.sider-error:hover {
    color: #982216;
}

/*************************************************************************************************************************************/
/*************************************************************** FOOTER **************************************************************/
/*************************************************************************************************************************************/


.footer {
    padding: 10px 10px 0;
    background-color: black;
    width: 100%;
    bottom: 0;
    font-size: 0.57rem;
    color: white;
    position: relative;
    height: 8rem;
}

.topf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: inherit;
}

.aabningstiderf {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    color: inherit;
    width: 33%;
}

.aabningstiderf li {
    margin: 3px 0;
}


.logof {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: inherit;
    font-size: inherit;
    width: 33%;
    align-items: center;
}

.logof a img {
    color: inherit;
    height: 3rem;
    padding-bottom: 3px ;
}

.socialf a {
    color: white;
    font-size: 1.5rem;
}

.linksf {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: inherit;
    text-decoration: none;
    list-style: none;
    width: 33%;
}

.linksf, .titelf {
    font-size: 0.9rem;

}

.linksf li {
    margin: 3px 0;
}

.linksf li a {
    color: white;
    margin: 3px 0;
}

.bundf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.7rem;
    list-style: none;
    padding: 7px 0;
    color: inherit;
}

.bundf li {
    width: 33%;
}

#bundfli2 {
    text-align: center;
}

#bundfli3 {
    text-align: right;
}

/*************************************************************************************************************************************/
/*************************************************************** @MEDIA **************************************************************/
/*************************************************************************************************************************************/

/********************************************************** MEDIA TIL NAVBAR *********************************************************/
/* Breakpoint til tablet */
@media (min-width: 768px) {
    nav {
        height: 6rem;
    }

    #navlogo {
        height: 4rem;
        float: left;
        margin: 1rem 1.5rem;
    }
    
    /* IKONER */
    .icon {
        font-size: 2.5rem;
        float: right;
        margin: 0 0.5rem;
        cursor: pointer;
        display: block;
        line-height: 6rem;
    }

    .dropdown-menu {
        margin-top: 6rem;
    }
}

/* Breakpoint til laptop */
@media (min-width: 1024px) {
    nav {
        height: 8rem;
    }

    /* IKONER OG LOGO */
    .icon {
        display: none;
    }

    
    .dropdown-menu {
        flex-direction: row;
        justify-content: center;
        height: 0;
        left: 0;
        flex-direction: row;
        position: relative;
    }

    .dropdown-menu a {
        background-color: black;
        margin: 0 0.5rem;
        text-wrap: nowrap;
    }

    .submenu {
        width: 10rem;
    }
    .fa-caret-down {
        font-size: 0.85rem;
        margin-top: 0.5rem;
    }

    .dropdown-content a, .submenu a {
        float: none;
        width: 10rem;
    }

    .dropdown-content .buttonekstra {
        margin-top: 2rem;
    }

    a #dropdown-contentspeciel .submenu a {
        margin-left: -2rem;
    }

    .submenu-content{
        float: left;
        margin-left: 10rem;
        margin-top: -2rem;
        width: 10rem;
    }

    #navspeciel {
        display: block;
        margin-right: -0.5rem;
    }

    /* SØGEFELT KOMMER FREM + STYLING */
    .search {
        position: absolute;
        display: block;
        right: 2rem;
        padding: 0.5rem 0;
        width: 15rem;
        border: none;
        top: 2.5rem;
        font-size: 1rem;
        background-color: #2a3f52;
        border-radius: 10px;
        z-index: 1; 
        color: white;
    }

    .fa-magnifying-glass {
        display: block;
        font-size: 1.5rem;
        position: relative;
        right: 2rem;
        z-index: 2;
        top: 0.5rem;
    }

    .dropdown .specieltpunkt {

        text-wrap: wrap;
    }

    .dropdown .dropbutton, .dropdown-menu .dropbutton {
        font-size: 1rem;
    }

}

/***************************************************** MEDIA TIL FORSIDE/PROGRAM *****************************************************/

/********************************************************** MEDIA TIL FILM ***********************************************************/

/* Breakpoint til tablet */ 
@media (min-width: 768px) { 
    
    .film {
        margin: 8rem 12% 1.5rem;
        width: 76%;
    }
    
    /* styling af section 1 (filmplakat, overskrift, book billet, tider) */
    .film-box1 {
        display: flex;
        flex-direction: row;
        margin: 0;
        width: 100%;
        align-items: flex-start;
    }
    .film-intro {
        width: 45%;
    }

    .film-box1 .img {
        width: 55%;
        margin: 0;
    }

    .film-box1 .img img {
        margin: 0;
    }
    
    .film-box1 h1 {
        font-size: 2rem;
        font-weight: 600;
        text-align: left;
        margin: 0 10px 10px;
    }

    .film-box1 p {
        font-size: 1.4rem;
        text-align: left;
        margin: 0 10px;
    }

    .film-box1_1 {
        justify-content: flex-start;
        margin: 0 10px;
    }

    .film-box1 a {
        margin: 0.5rem 1rem 0.5rem 0;
        font-size: 1.4rem;
    }
    

    /* styling af section 2 (grå boks m tekniske filmoplysninger) */
    .film-box2 {
        padding: 30px;
    }

    .film-box-laesmere2 p {
        margin: 2px 0;
    }
    
    /* styling af section 3 (Filmbeskrivelse) */
    
    .film-box3 h2, .film-box4 h2, .film-box5 h2 {
        font-size: 1.2rem;
        font-weight: 600;
    }
    
    .film-box3 p {
        font-size: 1rem;
        margin: 1rem 0;
    }
    


    /* styling af section 4 (trailer) */
    
    .film-box4 iframe {
        width: 100%; 
        height: 50vh;
    }
    
    
    /* styling af section 5 (anmeldelser) */
    .film-box5 img {
        height: 3rem;
    }


    .film-box-laesmere3, .film-box-laesmere5 {
        display: block;
    }
    
    .film-box3 label, .film-box-laesmere3 .film-laesmere5-knap, .film-box5 label, .film-box-laesmere5 .film-laesmere5-knap {
        display: none;
    }
    
    .anmeldelse-link {
        display: block;
        font-size: 1rem;
        color: white;
        margin: 5px 0;
    }
    
    .knap {
        display: block;
        padding: 25px 0 0;
        font-size: 1rem;
    }
   } 
    
    
    /* Breakpoint til laptop */ 
    @media (min-width: 1024px) {
        .film {
            margin: 10rem 15% 1.5rem;
            width: 70%;
        }
        
        /* styling af section 1 (filmplakat, overskrift, book billet, tider) */
        .film-box1 {
            display: flex;
            flex-direction: row;
            margin: 0;
            width: 100%;
            align-items: flex-start;
        }
        .film-intro {
            width: 35%;
        }
    
        .film-box1 .img {
            width: 65%;
        }
    
        
        .film-box1 h1 {
            font-size: 2.5rem;
            margin: 0 20px 10px;
        }
    
        .film-box1 p {
            font-size: 1.7rem;
            margin: 0 20px;
        }
    
        .film-box1_1 {
            margin: 0 20px;
        }
    
        .film-box1 a {
            margin: 0.75rem 2rem 0.75rem 0;
            font-size: 1.55rem;
        }
        
    
        /* styling af section 2 (grå boks m tekniske filmoplysninger) */
        .film-box2 {
            font-size: 1.5rem;
        }
    
        
        /* styling af section 3 (Filmbeskrivelse) */
        
        .film-box3 h2, .film-box4 h2, .film-box5 h2 {
            font-size: 1.7rem;
        }
        
        .film-box3 p {
            font-size: 1rem;
            margin: 1rem 0;
        }
        
    
    
        /* styling af section 4 (trailer) */
        
        .film-box4 iframe {
            height: 65vh;
        }
    
        
        .knap {
            font-size: 1.5rem;
        }
       } 
    
/******************************************************** MEDIA TIL STUDENTBIO *******************************************************/

/********************************************************** MEDIA TIL KLUBBER ********************************************************/

/* Breakpoint til tablet */
@media (min-width: 768px) {

    .klubber {
        margin: 6rem 12% 1.5rem;
        width: 76%;
    }

    .klubber p {
        margin: 10px 0 5px;
        font-size: 1.4rem;
    }

    /* Styling af indhold*/
    .klubber article {
        margin: 3rem 0;
    }

    .klubber-tekst {
        display: flex;
        width: 60%;
        padding: 0 10px 5px;
        flex-direction: column;
    }

    /* Styling af underoverskrifter */
    .klubber article h2 {
        font-size: 2.3rem;
        margin: 0;
    }

    /* Styling af tekst */
    .klubber article p {
        margin: 10px 0;
        font-size: 1.4rem;
    }

    /* Styling af billeder */
    .klubber article .img {
        width: 40%;
        align-items: center; 
        margin: 5px 0;
    }

    .klubber article .img img {
        margin: 0;
    }

    .klubber-ekstra {
        display: none;
    }

}

/* Breakpoint til laptop */
@media (min-width: 1024px) {

    .klubber p {
        font-size: 1rem;
    }

    .klubber-tekst {
        width: 65%;
    }

    /* Styling af billeder */
    .klubber article .img {
        width: 35%;
    }

    /* Styling af underoverskrifter */
    .klubber article h2 {
        font-size: 1.9rem;
    }

    /* Styling af tekst */
    .klubber article p {
        font-size: 1rem;
    }

    /* læs mere knap + læs mindre knapper */
    .laesmere-tekst1, .laesmere-tekst2, .laesmere-tekst3  {
        display: block;
    }

    .laesmindre1, .laesmere1, .laesmindre2, .laesmere2, .laesmindre3, .laesmere3 {
        display: none;
    }
}


/*********************************************************** MEDIA TIL ERROR *********************************************************/
/* Breakpoint til tablet */
@media (min-width: 768px) {
    /* .hov {
        margin: 8rem 5% 2rem;
        width: 90%;
        height: 53vh;
    } */

    .hov {
        margin: 10rem 15% 4rem;
        width: 70%;
        height: 44vh;
    }

    #errorbr {
        display: none;
    }
}

/* Breakpoint til laptop */
@media (min-width: 1024px) {
    .hov {
        margin: 11rem 5% 3rem;
        width: 90%;
        height: 50vh;
    }

    /* .hov {
        margin: 11rem 19% 3rem;
        width: 62%;
        height: 50vh; 
    } */

    #errorbr {
        display: none;
    }
}
/********************************************************** MEDIA TIL FOOTER *********************************************************/

@media (min-width: 385px){
    .brf1{
        display: none;
    }
}

@media (min-width: 500px){
    .brf2{
        display: none;
    }
}

/* Breakpoint til tablet */
@media (min-width: 768px){
    .footer {
        font-size: 0.8rem;
        height: 11rem;
    }

    .logof a img {
        height: 5rem;
    }
    
    .socialf a {
        font-size: 2rem;
    }

    .linksf, .titelf {
        font-size: 1.5rem;
    }

    .bundf {
        font-size: 1rem;
    }
}