* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* styling af body */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #2a3f52;
  color: white;
  width: 100%;
}

/*************************************************************************************************************************************/
/*************************************************************** NAVBAR **************************************************************/
/*************************************************************************************************************************************/

nav {
    background-color: black;
    height: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    display: inline-block;
}

/* LOGO */
#navlogo {
    height: 2rem;
    float: left;
    margin: 1.5rem 1.5rem;
}

/* IKONER */
.icon {
    font-size: 2rem;
    float: right;
    margin: 0 0.25rem;
    cursor: pointer;
    display: block;
    line-height: 5rem;
}

.fa-bars {
    margin-right: 15px;
}

#check {
    display: none;
}

/* BURGERMENU KOMMER FREM VED KLIK */
#check:checked ~ .dropdown-menu {
    left: 0;
}

/* DROPDOWNMENU START */
.dropdown {
    width: 10rem;
}

.dropdown-menu {
    margin-top: 5rem;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 100%;
    background-color: gray;
    transition: 1s;
    display: flex;
    flex-direction: column;
}

.dropdown-content {
    display: none;
    font-size: 1rem;
    float: left;
    overflow: hidden;
    width: 30rem;
}

.submenu-content {
    display: none;
    font-size: 0.5rem;
}

.dropdown-content, .submenu-content {
    display: none;
    position: absolute;
    background-color: none;
}


.button, .dropdown-content a, .submenu-content a {
    color: white;
    display: block;
    text-align: left;
    width: 12rem;
    height: 2rem;
    font-size: 1.1rem;
    line-height: 2rem;
    padding-left: 5px;
    background-color: black;
}

.dropbutton, .subbutton, .dropdown-content a {
    float: left;
    left: 12rem;
}

.dropdown-content a {
    float: left;
    left: 22rem;
}

.dropdown-content a, .submenu a, .submenu-content a {
    font-size: 0.8rem;
    width: 10rem;
}

.dropdown-content a, .submenu a {
    margin-left: 12rem;
}

.submenu-content a {
    height: 2rem;
    line-height: 2rem;
    margin-left: 22rem;
    float: left;
    left: 22rem;
    display: flex;
    align-items: center;
}

.submenu-content .specieltpunkt, .dropdown-content .specieltpunkt {
    line-height: 1rem;
}

.dropdown:hover .dropdown-content{
    display: block;
  }

.submenu:hover .submenu-content {
    display: block;
}

/* DROPDOWNMENU SLUT */

.search {
    display: none;
}

/*************************************************************************************************************************************/
/********************************************************** FORSIDE/PROGRAM **********************************************************/
/*************************************************************************************************************************************/

/*************************************************************************************************************************************/
/************************************************************* FILM *************************************************************/
/*************************************************************************************************************************************/

/*************************************************************************************************************************************/
/************************************************************ STUDENTBIO *************************************************************/
/*************************************************************************************************************************************/

.student-h1 {
  text-align: center;
}

/*************************************************************************************************************************************/
/************************************************************* KLUBBER ***************************************************************/
/*************************************************************************************************************************************/

/* Styling af klubber */
.klubber {
  text-align: left;
  margin: 5% 18%;
}

/* Styling af overskrift */
.klubber-h1 {
  text-align: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
}

/* Styling af flexbox 1 */

.klubber-box1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/* Styling af billede */
.klubber-box1 img {
  width: 100%;
  align-items: center;
  margin: 50px 0;
}

/* Styling af flexbox 2 */
.klubber-box2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Styling af billede */
.klubber-box2 img {
  width: 100%;
  align-items: left;
  margin: 50px 0;
}

/* Styling af flexbox 3 */
.klubber-box3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Styling af billede */
.klubber-box3 img {
  width: 100%;
  align-items: center;
  margin: 50px 0;
}

/*************************************************************************************************************************************/
/*************************************************************** FOOTER **************************************************************/
/*************************************************************************************************************************************/

.footer {
  padding: 10px 10px 0;
  background-color: black;
  width: 100%;
  bottom: 0;
  font-size: 0.57rem;
  color: white;
  position: relative;
}

.topf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: inherit;
}

.aabningstiderf {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
  color: inherit;
  width: 33%;
}

.aabningstiderf li {
  margin: 3px 0;
}

.logof {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: inherit;
  font-size: inherit;
  width: 33%;
  align-items: center;
}

.logof a img {
  color: inherit;
  height: 3rem;
  padding-bottom: 3px;
}

.socialf a {
  color: white;
  font-size: 1.5rem;
}

.linksf {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: inherit;
  text-decoration: none;
  list-style: none;
  width: 33%;
}

.linksf,
.titelf {
  font-size: 0.9rem;
}

.linksf li {
  margin: 3px 0;
}

.linksf li a {
  color: white;
  margin: 3px 0;
}

.bundf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0.7rem;
  list-style: none;
  padding: 7px 0;
  color: inherit;
}

.bundf li {
  width: 33%;
}

#bundfli2 {
  text-align: center;
}

#bundfli3 {
  text-align: right;
}

/*************************************************************************************************************************************/
/*************************************************************** @MEDIA **************************************************************/
/*************************************************************************************************************************************/

/********************************************************** MEDIA TIL NAVBAR *********************************************************/
/* Breakpoint til tablet */
@media (min-width: 768px) {
    nav {
        height: 6rem;
    }

    #navlogo {
        height: 3rem;
        float: left;
        margin: 1.5rem 1.5rem;
    }
    
    /* IKONER */
    .icon {
        font-size: 2.5rem;
        float: right;
        margin: 0 0.5rem;
        cursor: pointer;
        display: block;
        line-height: 6rem;
    }

    .dropdown-menu {
        margin-top: 6rem;
    }
}

/* Breakpoint til laptop */
@media (min-width: 1024px) {
    nav {
        height: 8rem;
    }

    /* IKONER OG LOGO */
    .icon {
        display: none;
    }

    
    .dropdown-menu {
        flex-direction: row;
        justify-content: center;
        height: 0;
        left: 0;
        flex-direction: row;
        position: relative;
    }

    .dropdown-menu a {
        background-color: black;
        font-size: 0.85rem;
        width: 7rem;
        margin-left: 3rem;
        text-wrap: nowrap;
    }


    .dropdown-content a, .submenu a {
        margin-left: 3rem;
        float: none;
        width: 10rem;
    }

    .dropdown-content .buttonekstra {
        margin-top: 2rem;
    }

    a #dropdown-contentspeciel .submenu a {
        margin-left: -2rem;
        background-color: rebeccapurple;
    }

    .submenu-content{
        float: left;
        margin-left: 10rem;
        margin-top: -2rem;
        width: 10rem;
    }

    #navspeciel {
        display: block;
        margin-right: -0.5rem;
    }

    /* SØGEFELT KOMMER FREM + SYLING */
    .search {
        position: absolute;
        display: block;
        right: 2rem;
        padding: 0.5rem 0;
        width: 15rem;
        border: none;
        top: 2.5rem;
        font-size: 1rem;
        background-color: #2a3f52;
        border-radius: 10px;
        z-index: 1; 
        color: white;
    }

    .fa-magnifying-glass {
        display: block;
        font-size: 1.5rem;
        position: relative;
        right: 2rem;
        z-index: 2;
        top: 0.5rem;
    }

    .dropdown .specieltpunkt {

        text-wrap: wrap;
    }

    .dropdown .dropbutton, .dropdown-menu .dropbutton {
        font-size: 1rem;
    }

}


/********************************************************** MEDIA TIL FOOTER *********************************************************/
@media (min-width: 385px) {
  .brf1 {
    display: none;
  }
}

@media (min-width: 500px) {
  .brf2 {
    display: none;
  }
}

/* Breakpoint til tablet */
@media (min-width: 768px) {
  .footer {
    font-size: 1rem;
  }

  .logof a img {
    height: 5rem;
  }

  .socialf a {
    font-size: 2rem;
  }

  .linksf,
  .titelf {
    font-size: 1.2rem;
  }

  .bundf {
    font-size: 1rem;
  }
}
