* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* styling af body */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #2a3f52;
    color: white;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}


/*************************************************************************************************************************************/
/*************************************************************** NAVBAR **************************************************************/
/*************************************************************************************************************************************/

nav {
    background-color: black;
    height: 8rem;
    position: fixed;
    top: 0;
    width: 100%;
    display: inline-block;
}

/* LOGO */
#navlogo {
    height: 5rem;
    float: left;
    margin: 1.5rem 1.5rem;
}

/* SØGEFELT KOMMER FREM + STYLING */
.search {
    position: absolute;
    display: block;
    right: 2rem;
    line-height: 1rem;
    padding: 0.5rem 0;
    width: 15rem;
    border: none;
    top: 2.5rem;
    font-size: 1rem;
    background-color: #2a3f52;
    border-radius: 10px;
    color: white;
    z-index: 1;
}

.fa-magnifying-glass {
    font-size: 1.5rem;
    float: right;
    right: 2.5rem;
    top: 3rem;
    cursor: pointer;
    display: block;
    line-height: 1rem;
    position: relative;
    z-index: 3;
}



.fa-bars {
    display: none;
}


/* NAVBAR */
#check {
    display: none;
}

#menu {
    position: absolute;
    top: 7rem;
    width: 100%;
    padding: 0 0 0 10%;
    background-color: black;
}

.menupunkt {
    display: inline-block;
    width: 9rem;
}

.menupunkt a {
    font-size: 1rem;
    color: white;
    padding: 0 5px;
}

.undermenu, .underundermenu {
    display: none;
}


.undermenupunkt a {
    display: block;
    font-size: 1rem;
    color: white;
    background-color: black;
    width: 10rem;
    padding: 5px;
}


.underundermenu {
    float: left;
    left: 10rem;
    top: 0;
}

.underundermenupunkt a {
    display: block;
    font-size: 0.8rem;
    color: white;
    background-color: black;
    width: 10rem;
    padding: 5px;
}

/********************************************************** MEDIA TIL NAVBAR *********************************************************/
/* Breakpoint til tablet */
@media (max-width: 767px) {
    nav {
        height: 6rem;
    }

    #navlogo {
        height: 4.5rem;
        float: left;
        margin: 1rem;
    }
    






    

}



/* Breakpoint til laptop */
@media (min-width:1024px) {
    .menupunkt:hover .undermenu {
        display: block;
        position: absolute;
    }
    .undermenupunkt:hover .underundermenu {
        display: block;
        position: absolute;
    }
}

@media (max-width: 1023px) {
    nav {
        height: 5rem;
    }

    /* IKONER OG LOGO */
    #navlogo {
        height: 2.5rem;
    }

    .fa-bars, .fa-magnifying-glass  {
        display: block;
        float: right;
        font-size: 2.5rem;
        right: 0;
        margin: 0 0.5rem;
        line-height: 5rem;
        top: 0;
    }

    .icon {
        font-size: 2rem;
        float: right;
        margin: 0 0.25rem;
        cursor: pointer;
        display: block;
        line-height: 5rem;

    }
    
    .search {
        display: none;
    }

    #menu {
        position: fixed;
        width: 100%;
        height: 100%;
        background: black;
        top: 5rem;
        text-align: left;
        left: 100%;
        transition: all .5s;
        margin: 0;
        padding: 0 1rem;
    }

    .undermenu, .underundermenu {
        display: block;
    }
    .menupunkt {
        display: block;
        width: 30rem;
    }
    
    .menupunkt a {
        padding: 1rem 0 0;
        display: block;
        font-size: 1rem;
    }

    .undermenu {
        float: left;
        left: 10rem;
        top: 0;
    }
    
    .undermenupunkt a {
        display: block;
        font-size: 0.75rem;
        color: white;
        background-color: black;
        width: 30rem;
        padding: 0.25rem 1rem 0;
    }
    
    .underundermenu {
        float: left;
        left: 20rem;
        top: 0;
    }
    
    .underundermenupunkt a {
        display: block;
        font-size: 0.5rem;
        color: white;
        background-color: black;
        width: 30rem;
        padding: 0.25rem 2rem;
    }


    /* BURGERMENU KOMMER FREM VED KLIK */
    #check:checked ~ #menu {
        left: 0;
    }



}